/* student Index page */
body {
    background-image: url("../src/images/submit-wallpaper.jpg");
    background-size: cover;
}

/* navigation bar */
#navicon{
    color:white;
}

#navtext{
    font-size: 20px;
    color: white;
}

#navicon-active{
    color: aqua;
}

#navtext-active{
    font-size: 20px;
    color: aqua;
}

#navtext:hover{
    color: aqua;
}




/*abondon*/

/* #signin {
    background-color: grey;
    width: 800px;
    color: #fff;
    height: 450px;
}

#signin a {
    color: green;
}

#btn-docSubmit {
    width: 300px;
    height: 400px;
}

.drag-area {
    border: 2px dashed;
    height: 200px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
} */
